<div class="container">
  <div class="greeting-container">
    <h2>hi, <span id="name">michael</span> here!</h2>
    <h3>I sometimes code.</h3>
    <div class="typewriter-container">
      <ngx-typed-js
        [strings]="['computer science student', 'software engineer']"
        [typeSpeed]="100"
        [loop]="true"
        [backSpeed]="50"
        
      >
        <p class="typing"></p>
      </ngx-typed-js>
    </div>
  </div>
  <div class="nav-container">
    <nav>
      <li><a routerLink="home">/home</a></li>
      <li><a routerLink="about">/about</a></li>
      <li><a routerLink="education">/education</a></li>
    </nav>
  </div>
</div>
